You may need to import data from formats that are not flat. Common cases are xlsx files, sas files and stata files

In [43]:
import pandas as pd
from sas7bdat import SAS7BDAT

excel_filename = 'https://pgcconline.blackboard.com/webapps/dur-browserCheck-bb_bb60/samples/sample.xlsx'
sas_filename = 'http://www.principlesofeconometrics.com/sas/alcohol.sas7bdat'
stata_filename = 'https://stats.idre.ucla.edu/stat/stata/examples/chp/p004.dta'
hdf_filename = '../files/sample.hdf5'

In [33]:
excel = pd.ExcelFile(excel_filename)
print(excel.sheet_names)
df_excel = excel.parse(0)
df_excel.head()

['Smile You Can Read Me !']

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,Excel 2007 (xlsx) Sample Worksheet,NaN
1,NaN,NaN,NaN,Created with Microsoft Excel 2007 SP1,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,X,Y
4,NaN,NaN,NaN,0.718521,0.916826

In [34]:
df_sas = pd.read_sas(sas_filename)
df_sas.head()

   ADULTS  KIDS  INCOME   CONSUME
0     2.0   2.0   758.0  1.000000
1     2.0   3.0  1785.0  1.000000
2     3.0   0.0  1200.0  1.000015
3     1.0   0.0   545.0  1.000225
4     4.0   1.0   547.0  1.000005

In [35]:
df_stata = pd.read_stata(stata_filename)
df_stata.head()

   currentm  previous  fat  protein  days  lactatio  i79
0      45.0      45.0  5.5      8.9    21         5    0
1      86.0      86.0  4.4      4.1    25         4    0
2      50.0      50.0  6.5      4.0    25         7    0
3      42.0      42.0  7.4      4.1    25         2    0
4      61.0      61.0  3.8      3.8    33         2    0

In [45]:
df_hdf5 = pd.read_hdf(hdf_filename)
df_hdf5.head()

ValueError: No dataset in HDF5 file.